.image {
  /* width:75%; */
  margin-top: 60px;
  margin-bottom: 20px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 980px;

  image-resolution: auto;
}
​ .carousel-control-prev-icon {
  margin-left: -200px;
  color: red;
}
​ .carousel-control-next-icon {
  margin-right: 50px;
  color: rgb(3, 31, 14);
}
h3 {

  font-family: "Merienda", cursive;
}
