.image{
    /* width:75%; */
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    image-resolution: auto;

}

.carousel-control-prev{
    margin-left: 200px;
    color:rgb(3, 31, 14);
}

.carousel-control-next{
    margin-right: 200px;
    color:rgb(3, 31, 14);
}