/* .row{
    background: yellow;
} */
/* .display-3 {
  width: 50%;
}
.col-6 col-sm-4 {
  background-color: aqua;
}
.jumbotron {
  width: 80%;
  height: 20px;
  font-display: center;
} */
.Col {
  text-align: right;
}
