.navbar {
  background: rgb(183, 231, 190);
  color: rgb(15, 15, 15);
  font-family: "Calistoga", cursive;
  padding: 5px;
}

.logo {
  text-align: center;
  display: block;
  margin-left: 20%;
  margin-right: auto;
}
