.display-3 {
  background: 73aecd;
  text-align: left;
  font-family: "Kalam", cursive;
  color: rgb(182, 220, 252);
  margin: 20px;
  margin-top: -3px;
  padding-top: 20px;
  width: 980px;
  height: 180px;
  margin-left: 64px;
  font-family: "Satisfy", cursive;

  font-family: "Great Vibes", cursive;

  font-family: "Bad Script", cursive;

  font-family: "Oleo Script", cursive;

  font-family: "Carter One", cursive;

  font-family: "Merienda", cursive;
}
.AboutApp {
  font-size: 35px;
  color: black;
  text-align: center;
  margin:10px;
}
.lead {
  font-size: 20px;
  color: rgb(16, 17, 17);
}
