.display-3 {
  background: rgb(183, 231, 190);
  text-align: left;
  font-family: 'Kalam', cursive;
  color: rgb(1, 54, 1);
  margin: 20px;
}
.AboutApp{
  font-size: 24px;
  color: rgb(1, 54, 1);
}
.lead{
  font-size: 20px;
  color: rgb(1, 54, 1);
}